.hero{
    background-color: $color-green;
    &__title{
        font-family: 'Recoleta',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: $color-white;
    }
    &__discription{
        font-family: 'Noto Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: $color-white;
    }
}